#mainContainer {
    box-sizing: border-box;
    width: 1480px;
    height: 1282px;
    margin: 0 auto;
}

/*Header*/
.ra {
    color: #000000;
    text-decoration: none;
}

.mda {
    color: aqua;
}

.headline {
    box-sizing: border-box;
    width: 292px;
    height: 72px;
    margin-left: 100px;
    font-size: 50px;
    text-decoration: none;
    color: #000;

}

/*Navigation*/
.navcontainer {
    box-sizing: border-box;
    width: 1283px;
    height: 72px;
    margin-left: 100px;
    background-color: #35444F;

}


.headbt {
    text-decoration: none;
    margin-left: 50px;
}

.headbt:hover {
    background-color: #1A222B;
    border-left-style: solid;
    border-left-color: #555A5D;
    border-width: 1px;
    border-right-style: solid;
    border-right-color: #555A5D;
    padding: 26px;
    transition: 0.2s;
}

.navtop {
    display: inline-block;
    margin-top: 20px;
    margin-left: 200px;
}

li.bt1 {
    display: inline;
    font-size: 24px;
    color: #ffffff;
}

li.bt2 {
    display: inline;
    font-size: 24px;
    color: #ffffff;
}

li.bt3 {
    display: inline;
    font-size: 24px;
    color: #ffffff;
}

li.bt4 {
    display: inline;
    font-size: 24px;
    color: #ffffff;
}

/*Aside+img block*/
div.container1 {
    box-sizing: border-box;
    width: 1281px;
    height: 832px;
    margin-top: 51px;
    margin-left: 100px;
    float: left;
}

div.asideContainer {
    box-sizing: border-box;
    width: 344px;
    height: 399px;
    border: 1px solid black;
    float: left;

}

.leftbt1 {
    text-decoration: none;
    color: #000;
    display: inline-block;
    margin-left: 40px;
    margin-top: 30px;
}

.leftbt2 {
    text-decoration: none;
    color: #000;
    display: inline-block;
    margin-left: 40px;
    margin-top: 30px;
}

.leftbt3 {
    text-decoration: none;
    color: #000;
    display: inline-block;
    margin-left: 40px;
    margin-top: 30px;
}

.leftbt4 {
    text-decoration: none;
    color: #000;
    display: inline-block;
    margin-left: 40px;
    margin-top: 30px;
}

.leftbt5 {
    text-decoration: none;
    color: #000;
    display: inline-block;
    margin-left: 40px;
    margin-top: 30px;
}

.leftbt1:hover {
    color: #000000;
    margin-left: 0px;
    padding-left: 70px;
    padding-right: 173px;
    background-color: #D0D0D0;
    transition: 0.2s;
}

.leftbt2:hover {
    color: #000000;
    margin-left: 0px;
    padding-left: 70px;
    padding-right: 80px;
    background-color: #D0D0D0;
    transition: 0.2s;
}

.leftbt3:hover {
    color: #000000;
    margin-left: 0px;
    padding-left: 70px;
    padding-right: 80px;
    background-color: #D0D0D0;
    transition: 0.2s;
}

.leftbt4:hover {
    color: #000000;
    margin-left: 0px;
    padding-left: 70px;
    padding-right: 85px;
    background-color: #D0D0D0;
    transition: 0.2s;
}

.leftbt5:hover {
    color: #000000;
    margin-left: 0px;
    padding-left: 70px;
    padding-right: 115px;
    background-color: #D0D0D0;
    transition: 0.2s;
}

.Lbt {
    font-size: 35px;

}


div.imcontainer {
    box-sizing: border-box;
    width: 885px;
    height: 529px;
    overflow:hidden;
    float: right;
    border: 1px solid black;
}

img.img {
    position: relative;
    top: 75px;
    left: 297px;
    moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}
.img:hover{
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -o-transform: scale(1.4);
}

div.txtContainer {
    box-sizing: border-box;
    width: 820px;
    height: 253px;
    float: right;
    margin-top: 20px;
}

div.p1 {
    box-sizing: border-box;
    width: 815px;
    height: 114px;
    float: right;

}

.par1 {
    font-size: 18px;
}

.par2 {
    padding-top: 20px;
    font-size: 18px;
}

#f-container {
    box-sizing: border-box;
    width: 1280px;
    height: 69px;
    margin-left: 100px;
    background-color: #B4B7BA;
    clear: both;
}

.ful {
    float: left;
}

.fcontainer {
    box-sizing: border-box;
    width: 1202px;
    height: 30px;
    margin-top: 20px;
    padding-left: 20px;
    float: left;
}

.fbt {
    display: inline;
    margin: 20px 13px 13px 25px;

    font-size: 27px;
}

p.copy {
    float: right;
    font-size: 23px;
}

.f-bt {
    text-decoration: none;
    color: #000;
}

.f-bt:hover {
    color: #749DB0;
    text-decoration: underline;
}

footer {
    clear: both;
}
